/* PC */
@media (min-width: 1024px) {
    
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .send-tab{
        width: 100%;
    }
    .mode-mobi{
        padding: 0 5px;
    }
}
/* Mobile */
@media (max-width: 740px) {
    #header .mobile-menu-btn{
        display: block;
    }
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: rgb(56, 109, 207);
        color: white;
    }
    #nav > li{
        display: block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav a{
        color: white;
        padding: 5px 41px;
    }
    #header .search-bt{
        display: none;
    }
    .col-third{
        width: 100%;
        padding: 20px 0;
    }
    .m-col-full{
        width: 100%;
    }
    .contact-infor{
        padding-bottom: 20px;
    }
    .mobi-name{
        padding-bottom: 10px;
    }
    .co_so-btn{
        width: 100%;
    }
    .f-text-head{
        font-size: 10px;
    }
    .mode-mobi{
        padding: 0 5px;
    }
}